* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:  #ebe6e2; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ebe6e2;
    padding-top: 60px;
}

.header {
    background-color: #ebe6e2;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #ffffff;
    
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

#logo   {
    height: 50px;
}

.nav {
    transition: all 0.3s step-start;
}

.nav_list {
    display: flex;
    column-gap: 40px;
}



.nav_link {
    color: #475569;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.4s;
    font-family: "Lora", serif;
}

.nav_link:hover,
.nav_link:focus {
    color: #1e90ff;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: #475569;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 690px) {
    .nav {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #ebe6e2;
        width: 100%;
        height: 90%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        border-bottom: 2px solid #ffffff;
    }


    .nav_list {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .nav_link{
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }

    .aboutme {
        width: 100%;
        align-items: center;
        display: block;
    }

    .aboutimg {
        width: 100%;
        align-items: center;
        display: block;
        
    }

    .button {
        padding-top: 20px;
    }

    .resume {
        width: 100%;
        align-items: center;
        display: block;
    }

   
}

h1 {
    color:#475569;
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding:30px

}

section {
    text-align: center;
}

h2 {
    color:  #1e90ff;
    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

p {
    
    color: rgb(112, 112, 112);
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    padding: 5% 15% 5% 15%;
    

}

.preview {
    width: auto;
    height: 400px;
    padding: 30px;
    
}

a {
    color: rgb(112, 112, 112);
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    
    line-height: 140%;
    text-align: left;
    padding-left: 20px;
}

iframe {
    padding: 30px;
}

.container {
    padding: 10px;
}

footer {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 200;
    color: hsl(0, 0%, 20%);
    font-size: 10px;

}
